<section class="bck dark">
    <div class="row text center">
        <nav data-tuktuk="menu" class="column_12 padding text bold">
            <a ui-sref="stories" ><span class="icon book"></span>Stories</a>
             <a ui-sref="about"><span class="icon star"></span>About</a>
            <a ui-sref="new"><span class="icon pencil"></span>Start a new story</a>                
        </nav>
    </div>
</section>