
#text-and-button h1 {
  font-size: 7vw;
}

#text-and-button {
  margin-top: 5em;
  padding: 9em;
  text-align: center;
}

#enter-button {
  height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.trees {
  background-image: url('/assets/trees.jpg');
  background-size: cover;
}

#main {
  min-height:750px;
  background-image: url('/assets/typewriter.jpg');
  background-size: cover;
}

#story {
  padding:1em;
  padding-right:3em;
  max-height: 500px;
  overflow: scroll;
}


