
#text-and-button h1 {
  font-size: 7vw;
}

#text-and-button {
  margin-top: 5em;
  padding: 9em;
  text-align: center;
}

#enter-button {
  height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.trees {
  background-image: url('/assets/trees.jpg');
  background-size: cover;
}
