<section class="row padding" id="pagination">
    <div class="on-right">
      Showing page {{currentPageNo}} of {{totalPages}}
    </div><br>

    <div ng-if="currentPageNo < totalPages" class="on-right page">
      <a ng-click="nextPage()">Next >></a>
    </div>

    <div ng-if="currentPageNo > 1" class="on-right page">
      <a ng-click="previousPage()"><< Back</a>
    </div>
</section>
