<trees-header></trees-header>

<main-nav></main-nav>

<div class="text big" id="about">
  
    <h5>Welcome!</h5><br>

    <p>
      <strong>Storymâché</strong> is a collaborative storytelling app, built as an AngularJS project for <a href="https://flatironschool.com" target="_blank">Flatiron School</a>.  If you have ever attended summer camp, taken a theater class, or played an ice-breaker game; this may feel familiar.  One person starts a story, and others follow by adding as much or as little as they would like.  With Storymâché, users may browse and read existing stories, contribute, or start a new story of their own.  Hovering over the story text will highlight each indiviual contribution made and its author.  
      If you are stopping by and feel inspired, please leave a word or sentence somewhere! 
    </p><br>

    <p>
      This project is meant to be 100% lighthearted and fun. (Trolls be gone!!)  However, if you happen across any questionable content or issues with the site, please contact me.
    </p><br>

    <p>
       Happy storytelling!
       <br><br>
       <button class="tiny success" ui-sref="stories">Let's go!</button>
    </p>

</div>

<footer class="text-center" id="footer">
  <small>&copy; 2016 Developed by <a href="http://lindseykwells.com" target="_blank">Lindsey Wells</a> 
</footer>

