<main-nav></main-nav>

<div id="about">
  <h2 class="text center">{{author.data.name}}</h2>
  <h5 class="text center">Contributions by date:</h5>
  <br>

  <ul ng-repeat="contribution in author.contributions" class="text center">

    <div>
      {{contribution.created_at | date: 'mediumDate'}} | 
      <a ui-sref="story({id: contribution.story.id})">
        {{contribution.story.title}}:
      </a><br>
      "{{contribution.body}}"
    </div>
    <br>

  </ul>



</div>