 <span class="text big">{{contribution.body}}</span>
 <br><br><br><br><br>
 <div class="column_10 bck dark padding">

    <form name="form" class="column_9" id="contribution" novalidate>
                
        Add to story here:
        <textarea
            type="text"
            name="body"
            required="required"
            ng-model="contribution.body"
            placeholder="Your addition..."></textarea>

        <div ng-if="form.body.$invalid && form.body.$touched">
            <div ng-if="form.body.$error.required">
                <strong>Content is required.</strong>
            </div>
        </div><br>
    
        Author name:
        <input
            type="text"
            name="author"
            pattern="[a-zA-Z0-9\s]+"
            maxlength="25"
            required="required"
            ng-model="contribution.author" />

        <div ng-if="form.author.$invalid && form.author.$dirty">
            <div ng-if="form.author.$error.required">
                <strong>Name is required.</strong>
            </div>  
            <div ng-if="form.author.$error.pattern">
                <strong>Please enter alphanumeric characters only.</strong>
            </div>                       
        </div><br><br>

        <div>
            <input
                type="button"
                name="submit"
                class="button tiny success"
                value="Publish!"
                ng-disabled="form.$invalid"
                ng-click="contribution.submitForm()">
        </div><br>
           
    </form>

    <button ui-sref="story" class="tiny on-right"><strong>Cancel</strong></button>

 </div>