 <br><br>
 <div class="column_10 bck dark padding padding-bottom">

    <form name="form" class="column_9" id="contribution">
                
        Add to story here!
        <textarea
            type="text"
            name="body"
            required="required"
            ng-model="contribution.body"
            placeholder="Your addition..."></textarea>

        <div ng-if="form.body.$touched">
            <div ng-if="form.body.$error.required">
                <strong>Content is required.</strong>
            </div>
        </div><br>
    
    
        Author name:
        <input
            type="text"
            name="author"
            maxlength="15"
            required="required"
            ng-model="contribution.author" />

        <div ng-if="form.author.$touched">
            <div ng-if="form.author.$error.required">
                <strong>Name is required.</strong>
            </div>                        
        </div><br><br>
    
        <div>
            <input
                type="button"
                name="submit"
                value="Add to story!"
                ng-disabled="form.$invalid"
                ng-click="contribution.submit()">
        </div><br>
           

    </form>
 </div>