<section class="bck theme landing text center" id="text-and-button">        
                
    <h1><strong>story</strong>mâché</h1>
    <h3 class="margin-bottom">Collaborative story writing fun!</h3>

    <button class="button large icon signin success" id="enter-button"> 
        <strong>Come in!</strong> 
    </button>
             
</section>