<body id="landing">
 
  <header class="bck margin-top margin-bottom">
    <div class="row">       
      <div class="row"></div>   
    </div>
  </header>

 <section class="bck theme landing text center">
        <div class="row">
            <div class="column_10 offset_1">
                <h1><strong>story</strong>mâché</h1>
                <h3 class="margin-bottom">Collaborative story writing fun!</h3>
                <button class="button large icon signin success"> <strong>Come in!</strong> </button>
            </div>
        </div>
 </section>

</body>