<trees-header></trees-header>

<main-nav></main-nav><br>

<div>

<form name="form" id="new" ng-submit="new.createStory(form.$valid)" novalidate>
                
        <h3>What is the title of your story?</h3><br>

        <input
            type="text"
            name="title"
            required="required"
            maxlength ="60"
            ng-model="new.title"
            placeholder="Add new title here..."></textarea>

        <div ng-if="form.$submitted || form.title.$touched">
            <div ng-if="form.title.$error.required">
                <strong>Please type a title.</strong>
            </div>
        </div>

        <div>
            <input
                type="button"
                name="submit"
                class="button tiny success margin-top"
                value="Submit!"
                ng-disabled="form.$invalid"
                ng-click="new.createStory(form.$valid)">
        </div><br>

</form>
</div>