<trees-header></trees-header>

<main-nav></main-nav><br>

<div class="column_5 offset_2">

<form name="form" class="column_7" id="new" ng-submit="new.createStory()">
                
        <h3>What is the title of your story?</h3><br>
        <input
            type="text"
            name="title"
            required="required"
            ng-model="new.title"
            placeholder="Add new title here..."></textarea>

        <div ng-if="form.title.$touched">
            <div ng-if="form.title.$error.required">
                <strong>Please type a title.</strong>
            </div>
        </div>

</form>
</div>