<div data-tuktuk="boxes" id="main">
    
  <aside class="column_3 bck dark scroll" >

     <a ui-sref="site.stories" class="row padding"> 
         <span class="icon left-sign"></span>
         <strong> &nbsp; Back to main menu</strong>        
     </a>
        
                
    <div class="margin-left margin-right">
        <br>
        <h4 class="text bold color theme inline">{{story.data.title}}:</h4>                
    </div>
  
    <ul class="margin" data-tuktuk="totals">      
      <li><strong>{{story.contributorCount}}</strong><small>contributors</small></li>
      
    </ul>
   
    <div class="margin">
        <strong class="text big">Date last updated:</strong>
        <div class="text justify medium">{{story.lastUpdate | date: 'mediumDate'}}</div>
    </div><br>

    <div data-tuktuk="menu" class="text center">   
      <span class="icon pencil text bold">&nbsp; History:</span>
      <br><br>

      <ul ng-repeat="contributor in story.history">
        <li>{{contributor}}</li>
      </ul>  
    </div>   

  </aside>


  <div id="main">
    <section class="offset_2 padding">
       <h3>{{story.data.title}}</h3>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis voluptas!<p><br>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, veritatis. Iste, saepe recusandae esse molestiae accusantium iusto sunt dolore quae. Molestiae neque quasi laboriosam soluta esse vel quaerat. Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, debitis consequuntur quidem sunt reprehenderit qui illo, voluptatibus doloribus, dicta optio quaerat. Molestias blanditiis quos ducimus dicta debitis asperiores temporibus velit?<p><br>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iste, eum facilis pariatur aut doloremque nihil ea assumenda eos quam ipsum aperiam dolorem beatae dolore voluptatem nostrum! Deserunt, excepturi, placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, culpa eos, provident neque, autem accusamus delectus totam earum molestias officiis dolorum eligendi, doloremque atque quod officia! Dignissimos quo quaerat repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minus, tempora cum repellendus fugit aut eligendi consectetur voluptates, quaerat facilis eaque consequuntur culpa assumenda delectus reiciendis exercitationem laboriosam omnis debitis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti officia est quo distinctio, natus veritatis itaque, magnam minus nulla delectus vero tempora consequuntur voluptate iusto enim optio nostrum quaerat suscipit?<p><br>

    </section
  <div>
            
</div>