
<section class="trees">
    <div class="row ">
        
        <div class="column_9 color white">
            <h1 class="text theme margin-top"><strong>story</strong>mâché</h1><br>

          </div><!--column-->
      </div><!--row-->
</section>

<section class="bck dark">
    <div class="row text center">
        <nav data-tuktuk="menu" class="column_12 padding text bold">
            <a ui-sref="site.stories" ><span class="icon book"></span>Stories<small>(<%=Story.all.length%>)</small></a>
             <a ui-sref="site.about"><span class="icon star"></span>About</a>
            <a href="#"><span class="icon pencil"></span>Start a new story</a>
            <a href="#"><span class="icon bar-chart"></span>Stats</a>                
        </nav>
    </div>
</section>


<div ui-view></div>

