
<section class="padding trees">
    <div class="row ">
        
        <div class="column_9 color white">
            <h1 class="text theme margin-top"><strong>story</strong>mâché</h1><br>
        
            <h4 class="text justify margin-bottom">Welcome!  Below you'll find an ongoing list of collaborative stories.  Search to find specific stories to read or contribute to, browse at your leisure, or start a new story!  Enjoy!</h4>

          </div><!--column-->
      </div><!--row-->
</section>

<section class="bck dark">
    <div class="row text center">
        <nav data-tuktuk="menu" class="column_12 padding text bold">
            <a href="#" ><span class="icon book"></span>Stories<small>(100)</small></a>
             <a href="#"><span class="icon star"></span>About</a>
            <a href="#"><span class="icon pencil"></span>Start a new story</a>
            <a href="#"><span class="icon bar-chart"></span>Stats</a>                
        </nav>
    </div>
</section>
<br>

<div ui-view></div>

