<trees-header></trees-header>

<main-nav></main-nav>


<section>
    <div class="row">            

            <div class="column_3 padding-top">
                <select ng-model="stories.sortBy" ng-change="stories.refilter()"  id="sortBy">
                    <option value="">-- Order stories by --</option>
                    <option value="updated_at">Most recently updated</option>
                    <option value="total_contributions">Most contributions</option>
                </select>
            </div><!--dropdown-->
    
            <span class="column_5 padding-top">
                 Filter by contributions:&nbsp;
                 <strong>Min</strong> 
                 <input id="total" 
                 type="number" 
                 ng-model="stories.minContributions" 
                 ng-change="stories.refilter()"
                 min="0"
                 class="inline"/>

                 <strong>Max</strong> 
                 <input id="total" 
                 type="number" 
                 ng-model="stories.maxContributions" 
                 ng-change="stories.refilter()"
                 min="0"
                 class="inline"/>
            </span><!--filter-->


            <div class="inline on-right padding-top">
                <span class="icon search"></span> 

                <input ng-model="stories.search" 
                ng-change="stories.refilter()"
                class="button secondary small text bold" 
                placeholder="Search"></input>                
                <br><br>
                                
            </div><!--search-->    

    </div><!--row 1-->

    <div class="row padding-top">

        <ul ng-repeat="story in stories.displayedStories">   
            <li class="column_4">
                <a ui-sref="story({ id: story.id })">
                  <div ng-class-odd="'odd'" ng-class-even="'even'" class="text center padding-top padding-bottom">{{story.title}}</div><br>
                </a>
            </li>
        <ul> 

    </div><!--row 2-->
    
    <my-pagination
      all-items="stories.filteredStories"
      current-items="stories.displayedStories"
      items-per-page=12
      ></my-pagination>
    
</section>


