<trees-header></trees-header>

<main-nav></main-nav>


<section>
    <div class="row">            

            <div class="column_3 padding-top">
                <select ng-model="stories.sortBy" ng-change="stories.refilter()"  id="sortBy">
                    <option value="">-- Order stories by --</option>
                    <option value="updated_at">Most recently updated</option>
                    <option value="total_contributions">Most contributions</option>
                </select>
            </div><!--dropdown-->
    
            <span class="column_5 padding-top">
                 Filter by contributions:&nbsp;
                 <strong>Min</strong> 
                 <input id="total" 
                 type="number" 
                 ng-model="stories.minContributions" 
                 ng-change="stories.refilter()"
                 min="0"
                 class="inline"/>

                 <strong>Max</strong> 
                 <input id="total" 
                 type="number" 
                 ng-model="stories.maxContributions" 
                 ng-change="stories.refilter()"
                 min="0"
                 class="inline"/>
            </span><!--filter-->


            <div class="inline on-right padding-top">
                <span class="icon search"></span> 

                <input ng-model="stories.search" ng-change="stories.refilter()"class="button secondary small text bold" placeholder="Search"></input>
                <br><br>
            </div><!--search-->    

    </div><!--row 1-->

    <div class="row padding-top">

        <ul ng-repeat="story in stories.stories">   
            <li class="column_4">
                <a ui-sref="story({ id: story.id })">
                  <div ng-class-odd="'odd'" ng-class-even="'even'" class="text center padding-top padding-bottom">{{story.title}}</div><br>
                </a>
            </li>
        <ul> 

    </div><!--row 2-->
    

    <footer class="row padding" id="pagination">
      <div class="on-right">Showing page {{stories.page + 1}} of {{stories.totalPages}}</div><br>

      <div ng-if="stories.page < stories.totalPages - 1" class="on-right page">
        <a ng-click="stories.nextPage()">Next >></a>
      </div>

      <div ng-if="stories.page > 0" class="on-right page">
        <a ng-click="stories.previousPage()"><< Back</a>
      </div>
    </footer>

    
</section>