<main-nav></main-nav>

<div data-tuktuk="boxes" id="main">
    
  <aside class="column_3 scroll"> 
   
    <div class="margin">
        <strong class="text big color theme">Date last updated:</strong>
        <div class="text justify medium">{{story.lastUpdate | date: 'mediumDate'}}</div><br>

        <small>CONTRIBUTORS</small><br>
        <strong class="text big padding-left">{{story.contributorCount}}</strong>    
    </div>


    <div class="margin-left">   
      <h6 class="text bold color theme">History:</h6>
        <ul id="history">      
          <li ng-repeat="contribution in story.contributions">{{contribution.author}} | {{contribution.created_at | date: 'mediumDate'}}</li>
        </ul>       
    </div>  

  </aside><!--sidebar ends-->


  <div>
    <section id="story" class="column_11">
      <div class="row">
        <span class="text large">{{story.data.title}}<span>
        <button ui-sref="story.contribute" class="success tiny offset_7">Add to this story!</button>
      </div><br>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis voluptas!<p><br>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, veritatis. Iste, saepe recusandae esse molestiae accusantium iusto sunt dolore quae. Molestiae neque quasi laboriosam soluta esse vel quaerat. Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, debitis consequuntur quidem sunt reprehenderit qui illo, voluptatibus doloribus, dicta optio quaerat. Molestias blanditiis quos ducimus dicta debitis asperiores temporibus velit?<p><br>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis<p><br> 

       <div ui-view></div>

    </section
  <div>
            
</div>