<main-nav></main-nav>

<div data-tuktuk="boxes" id="main">
    
  <aside class="column_3"> 
   
    <div class="margin">
      <button ui-sref="story.contribute" class="success small">Add to this story!</button><br><br>
      <strong class="text big color theme">Date last updated:</strong>
      <div class="text justify medium">{{story.data.updated_at | date: 'mediumDate'}}</div><br>

        <small>CONTRIBUTORS:</small>
        <strong class="text big padding-left">{{story.data.total_contributions}}</strong>    
    </div>


    <div class="margin-left">   
      <h6 class="text bold color theme">History:</h6>
        <ul id="history">      
          <li ng-repeat="contribution in story.contributions">
          <a ui-sref="authors({name: contribution.author_name})">{{contribution.author_name}}</a>| {{contribution.created_at | date: 'mediumDate'}}</li>
        </ul>       
    </div>  

  </aside><!--sidebar ends-->


  <div>
    <section id="story" class="column_11">
      <div class="row">
        <h3>{{story.data.title}}<h3>
        
      </div><br>
       <span ng-repeat="contribution in story.contributions" data-tip="{{contribution.author_name}}" id="contribution-divide" class="text big">{{contribution.body}}  </span>

       <span ui-view></span>

       <div class="row" id="secret-div">.</div>

      </div>
    </section>
            
</div>