<main-nav></main-nav>

<div data-tuktuk="boxes" id="main">
    
  <aside class="column_3 scroll"> 
   
    <div class="margin">
      <button ui-sref="story.contribute" ui-sref-active="contribute" class="success small">Add to this story!</button><br><br>
      <strong class="text big color theme">Date last updated:</strong>
      <div class="text justify medium">{{story.lastUpdate | date: 'mediumDate'}}</div><br>

        <small>CONTRIBUTORS:</small>
        <strong class="text big padding-left">{{story.contributorCount}}</strong>    
    </div>


    <div class="margin-left">   
      <h6 class="text bold color theme">History:</h6>
        <ul id="history">      
          <li ng-repeat="contribution in story.contributions">{{contribution.author}} | {{contribution.created_at | date: 'mediumDate'}}</li>
        </ul>       
    </div>  

  </aside><!--sidebar ends-->


  <div>
    <section class="column_11">
      <div id="story">
        <h3>{{story.data.title}}</h3><br>
        
        <span ng-repeat="contribution in story.contributions" class="text big">
        {{contribution.body}}  </span>
         
       </div>

       <div ui-view></div>

    </section
  <div>
            
</div>