<main-nav></main-nav>

<div data-tuktuk="boxes" id="main">
    
  <aside class="column_3 scroll"> 
   
    <div class="margin">
      <button ui-sref="story.contribute" class="success small">Add to this story!</button><br><br>
      <strong class="text big color theme">Date last updated:</strong>
      <div class="text justify medium">{{story.data.updated_at | date: 'mediumDate'}}</div><br>

        <small>CONTRIBUTORS:</small>
        <strong class="text big padding-left">{{story.data.total_contributions}}</strong>    
    </div>


    <div class="margin-left">   
      <h6 class="text bold color theme">History:</h6>
        <ul id="history">      
          <li ng-repeat="contribution in story.contributions">{{contribution.author}} | {{contribution.created_at | date: 'mediumDate'}}</li>
        </ul>       
    </div>  

  </aside><!--sidebar ends-->


  <div>
    <section id="story" class="column_11">
      <div class="row">
        <h3>{{story.data.title}}<h3>
        
      </div><br>
       <span ng-repeat="contribution in story.contributions" class="text big">{{contribution.body}}  </span>
       <p class="text big">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, veritatis. Iste, saepe recusandae esse molestiae accusantium iusto sunt dolore quae. Molestiae neque quasi laboriosam soluta esse vel quaerat. Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, debitis consequuntur quidem sunt reprehenderit qui illo, voluptatibus doloribus, dicta optio quaerat. Molestias blanditiis quos ducimus dicta debitis asperiores temporibus velit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam, incidunt illo voluptates assumenda architecto consequatur officiis suscipit autem labore molestias. Unde nemo iusto quia nam atque repellat. Ducimus, delectus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum repudiandae numquam quibusdam ipsum doloribus, obcaecati inventore, accusantium suscipit fugit beatae tempora ex autem eaque. Doloribus ipsa quos fugiat non, blanditiis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quia, nulla magni a obcaecati veniam autem aliquid consectetur reiciendis quae voluptates culpa repellendus et nobis. Reprehenderit, tempore, totam. Assumenda, aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus porro. Aliquam animi voluptatum quia, aut rerum ullam. Et dolores a similique quibusdam officia, cumque, ex nihil accusantium impedit. Consequuntur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptates tenetur, voluptatum inventore nobis quod in, blanditiis quas, quaerat dolore optio cupiditate libero nesciunt cum. Perspiciatis aspernatur autem quos vero.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aliquam neque consequuntur, blanditiis maiores quos amet eligendi, magni nam. Ipsum qui at cumque quaerat esse eveniet quibusdam, consectetur ad magnam.<p><br>

       <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad vero, quaerat dicta, accusamus ullam nesciunt suscipit, nulla officiis libero magni repellat! Consectetur debitis expedita adipisci molestiae modi corporis<span> 

       <span ui-view></span>

       <div class="row" id="secret-div">.</div>

      </div>
    </section>
            
</div>